<!DOCTYPE html>
<html>
    <head>
        {% include "head.html" %}
        <title>Home page</title>
    </head>
    <body>
        {% include "navbar.html" %}
        <div class="d-inline-block text-center" style="margin-top:10%; margin-left:40%; margin-right:40%; background-color:palegreen; border-radius: 20px;">
            <div style="margin:10%">
                Receipt scanner is an aplication which<br/> helps you to digitize your receipts.<br/>
                If you are logged in, it allows you to<br/> store all important information from every receipt.<br/>
                Aplications supports scanning receipts<br/> from images and taking a picture of receipt.
            </div>
        </div>
    </body>
</html>
