{% load static %}
<!DOCTYPE html>
<html>
  <head>
    {% include "head.html" %}
    <title>Home page</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}" />
</head>
  <body>
    {% include "navbar.html" %}
    <div class="d-inline-block text-center" id="body-container">
      <div id="app-description">
        <p>
          Receipt scanner is an aplication which helps you to digitize your
          receipts. If you are logged in, it allows you to store all important
          information from every receipt. Aplications supports scanning receipts
          from images and taking a picture of receipt.
        </p>
      </div>
    </div>
  </body>
</html>
