{% load static %}
<head>
  {% include "head.html" %}
  <title>Upload image</title>
  <link rel="stylesheet" type="text/css" href="{% static 'css/upload.css' %}" />
</head>
<body>
  {% include "navbar.html" %}
  <main>
    <div id="upload-method-selector">
      <h2>Choose the method of uploading an image</h2>
      <div id="method-select-btns">
        <button
          class="btn btn-primary active"
          id="select-upload-photo-method-btn"
        >
          Upload a photo from the disc
        </button>
        <button class="btn btn-primary" id="select-take-photo-method-btn">
          Take a photo with your webcam
        </button>
      </div>
    </div>
    <div id="upload-photo-container">
      <form method="POST" enctype="multipart/form-data">
        {% csrf_token %} {{form.as_p}}
        <input
          type="submit"
          value="Submit"
          class="btn btn-outline-primary submit-btn"
        />
      </form>
    </div>
    <div id="take-photo-container">
      <div id="webcam-photo">
        <video id="webcam" autoplay></video>
        <canvas id="canvas"></canvas>
        <img
          id="photo"
          class="img-fluid"
          alt="Screen capture will appear here"
        />
      </div>
      <button id="take-photo-button" class="btn btn-outline-primary">
        Take photo
      </button>
    </div>
  </main>
  <script src="{% static 'js/webcam.js' %}"></script>
</body>
