body {
    display: flex; 
    flex-direction: column;
}

#body-container {
    margin: 0 auto;
    margin-top: 10rem;
    background-color: palegreen;
    border-radius: 20px;
  }
  
  #app-description {
    margin: 10%;
    text-align: justify;
    width: 500px;
    max-width: fit-content;
    font-size: 1.3rem;
  }