.navbar {
  margin-bottom: 0.5em;
}

.sign-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.sign-form h2 {
  margin-bottom: 0.5em;
}

.helptext {
  display: block;
}

.submit-btn {
  margin-top: 0.5em;
}

#webcam {
  width: 50%;
  height: 50%;
}
#photo {
  width: 50%;
}
#canvas {
  width: 50%;
  height: 50%;
}
