#method-select-btns {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-bottom: 1em;
}

#upload-method-selector h2 {
    text-align: center;
    margin: 1em;
}

#upload-photo-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#upload-photo-container .submit-btn {
    display: block;
    margin: 0 auto;
}

#upload-photo-container form {
    margin-top: 1.5em;
}

#take-photo-container {
    display: none;
}

#webcam-photo {
    display: flex;
}

#webcam {
    width: 50%;
    height: 50%;
}

#photo {
    width: 50%;
}

#canvas {
    display: none;
    width: 50%;
    height: 50%;
}

#take-photo-button {
    display: block;
    margin: 1em auto;
}
